.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #161d2f;
  align-items: center;
  width: 96px;
  height: 100vh;
  max-height: 900px;
  padding: 32px 0px;
  border-radius: 12px;
  grid-row: 1 / -1;
}

.categories {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 300px;
  height: 100%;
  max-height: 200px;
}

.avatar {
  img {
    max-width: 40px;
    border: 0.5px solid white;
    border-radius: 50%;
  }
}
