.container {
  width: 280px;
  height: 230px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 32px;
  border-radius: 20px;
  
}
.movieInfo{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 150px;
}